@import './variables/variables';
@import './components/navbar';
@import './components/navbar_collapsed';
@import './components/carousel';
@import './components/modal';
@import './components/typography';
@import './components/banners';
@import './components/timeline';
@import './components/modalcontent.scss';

//Layout
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 50px; /* bottom = footer height */
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	// height: 100px;
	width: 100%;
}
.title-panel {
	background: $bg-img center center;
	background-size: cover;
	color: white;
	height: 100%;
	overflow: hidden;
	padding: 5em 0;
	position: relative;
	width: 100%;
}
.panel-center-align {
	padding: 2em 2em;
	// background: $bg-grey;
}
.panel-left-align {
	padding: 2em 2em;
	// background: white;

	.exp-panel {
		margin-bottom: 2em;
	}
}
