//Typography
span {
	color: $color-dark-grey;
}
.larger {
	font-size: 110%;
}
.emph {
	color: $color-blue;
	font-style: normal;
	text-decoration: none;
}
.ital {
	font-style: italic;
}
.page-title {
	text-align: center;
}
.foot-note {
	color: $color-light-grey;
	font-size: 80%;
}
