//Typography Colors
$primary-typo: black;
$color-dark-grey: #666666;
$color-blue: #4990E2;
$color-red: #fe6262;

//Navigation Bar Colors
$nav-bar-bg: transparent;
$nav-bar-link: black;

//Spacing
$space-large: 1em;

//Background Images
$bg-img: url("../assets/Color1.png");
$bg-grey: #f6f6f6;
